@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&family=Fredoka&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ff007f; /* neon pink */
  --color-secondary: #6a0dad; /* deep purple */
  --color-accent: #ffd700; /* yellow */
  --color-highlight: #00ffff; /* neon blue */
  --color-warning: #ff5733; /* orange */
  --color-success: #39ff14; /* neon green */
  --color-danger: #ff0000; /*  red */

  --color-text-primary: #ffffff; /* white */
  --color-text-muted: #b3b3b3; /* light gray */

  --color-bg-main: #1a1a2e; /* dark blue */
  --color-bg-secondary: #212f45; /* lighter dark blue*/
  --color-bg-card: #2a2d43; /* dark card background */

  --font-heading: "Comic Sans MS", cursive, sans-serif;
  --font-body: "Poppins", sans-serif;
  --font-caption: "Press Start 2P", cursive;
}

body {
  @apply text-text-primary font-body !bg-cover;
}

.container {
  @apply w-full max-w-7xl mx-auto px-4 md:px-8;
}
